@page "{id:int?}"
@model Encontro.WebUI.Pages.Pessoas.DetailsModel

@{
    ViewData["Title"] = "Detalhes da Pessoa";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="mb-4">Detalhes da Pessoa</h1>

            <div class="card">
                <div class="card-body">
                    @if (!string.IsNullOrWhiteSpace(Model.Person.PhotoUrl))
                    {
                        <div class="text-center mb-4">
                            <img src="@Model.Person.PhotoUrl" alt="Foto de @Model.Person.Name" class="img-thumbnail" style="max-width: 300px; max-height: 300px;" />
                        </div>
                    }

                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.Name)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.Name)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.Type)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.Type)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.BirthDate)</dt>
                        <dd class="col-sm-9">@(Model.Person.BirthDate?.ToString("dd/MM/yyyy") ?? "-")</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.CellPhone)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.CellPhone)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.Phone)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.Phone)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.Email)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.Email)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.Address)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.Address)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.District)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.District)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.ZipCode)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.ZipCode)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.Group)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.Group)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.FatherName)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.FatherName)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.MotherName)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Person.MotherName)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Person.Notes)</dt>
                        <dd class="col-sm-9">
                            @if (!string.IsNullOrEmpty(Model.Person.Notes))
                            {
                                <pre class="mb-0">@Model.Person.Notes</pre>
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </dd>
                    </dl>

                    <div class="mt-4">
                        <a asp-page="Edit" asp-route-id="@Model.Person.Id" class="btn btn-warning">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                        <a asp-page="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
